<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% block title %}RecPlus{% endblock %}</title> <!-- 📌 Título dinámico -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/e41da13a77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
   
</head>
<body>

    <!-- 🔹 Header reutilizable -->
    <div class="header-bar">
        <h2>RecPlus <span class="tagline">| Recepción eficiente de productos | Automatización Loyal SGC digital </span></h2>
        <img src="/static/felsanlogo.webp" alt="RecPlus Logo" class="logo">
    </div>

    <!-- 🔹 Contenido dinámico -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

   

    <footer class="footer">
        <p>
            RecPlus creado por <strong>cecil <i class="fa-solid fa-worm"></i> <span>IA</span></strong> 
            para <strong>Felsan SRL</strong>. 2025. Todos los derechos reservados.
        </p>
        
    </footer>
    <script defer src="/static/script.js"></script>
</body>
</html>
