{% extends "base.html" %}

{% block title %}RecPlus - Dashboard{% endblock %}

{% block content %}

    <!-- Contenedor de bienvenida -->
    <div class="welcome-bar">
        <h2>
            <i class="fas fa-user"></i>
            <span id="username-display"></span>
        </h2>
        <button class="logout-btn" onclick="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
        </button>        
    </div>
    

    <!-- Contenedor del formulario -->
    <div class="home-container">
        <div id="admin-section" class="form-box" style="display: none;">
            <h3>Registrar Nuevo Usuario</h3>
            <input type="text" id="new-username" placeholder="Nuevo Usuario">
            <input type="password" id="new-password" placeholder="Contraseña">
            <select id="new-rol">
                <option value="deposito">deposito</option>
                <option value="garantia">garantia</option>
            </select>
            <button onclick="registrarUsuario()">Registrar Usuario</button>
            <p id="admin-message"></p>
        </div>

        <div id="scan-section" class="form-box">
            <h3>Escanear Producto</h3>
            <input type="text" id="codigo" placeholder="Código de barras">
            <input type="text" id="nro_lote" placeholder="Número de Lote">
            <input type="date" id="fecha_vto" placeholder="Fecha de Vencimiento">
            <input type="number" id="temperatura" placeholder="Temperatura">
            <input type="number" id="cantidad_ingresada" placeholder="Cantidad">
            <input type="text" id="nro_partida_asignada" placeholder="Número de Partida">
            <button onclick="escanearProducto()">Registrar Producto</button>
            <p id="producto-mensaje"></p>
        </div>
    </div>

{% endblock %}

