{% extends "base.html" %}

{% block title %}Recepciones Registradas{% endblock %}

{% block content %}

<div class="welcome-bar">
    <h2>Recepciones Registradas</h2>
</div>

<!-- 🔹 Filtros para búsqueda rápida -->
<div class="filtros-container">

   
    <div class="filtros-fecha-proveedor">
        <label for="filtro-proveedor">Proveedor</label>
        <input type="text" id="filtro-proveedor" class="filtro-select" placeholder="Ingrese proveedor...">

        <label for="fecha-desde">Desde:</label>
        <input type="date" id="fecha-desde" class="filtro-select">
    
        <label for="fecha-hasta">Hasta:</label>
        <input type="date" id="fecha-hasta" class="filtro-select">

        <button class="btn-filtrar" onclick="filtrarRecepciones()">
            <i class="fas fa-filter"></i>
        </button>
    
        <button class="btn-reset" onclick="resetFiltros()">
            <i class="fas fa-redo"></i>
        </button>

    </div>

</div>

<!-- Tabla de Recepciones -->
<div class="table-container">
    <table id="tabla-recepciones">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Subproceso</th>
                <th>Codigo Proveedor</th>
                <th>Proveedor</th>
                <th>Link_FR</th>
                <th>Productos Asociados</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <!-- Se llenará dinámicamente con JS -->
        </tbody>
    </table>
</div>

<!-- Botón de Volver -->
<button class="btn-volver" onclick="window.location.href='/home'">
    <i class="fas fa-arrow-left"></i> Volver
</button>

{% endblock %}
